@import "variable";

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

input:focus,
button:focus,
select:focus,
textarea:focus,
input, button,
select, textarea {
  outline: none !important;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin: 0;
  cursor: pointer;
  -webkit-appearance: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-image: url("../images/minimal.png");
}

input[type="checkbox"]:hover {
  background-position: -20px 0px;
}

input[type="checkbox"]:checked {
  background-position: -40px 0px;
}

input[type="checkbox"]:focus {
  outline: none;
}

.none {
  display: none;
}

.margin-clear {
  margin: 0 !important;
}