@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?ijnzjs');
  src: url('../fonts/icomoon.eot?ijnzjs#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?ijnzjs') format('truetype'),
  url('../fonts/icomoon.woff?ijnzjs') format('woff'),
  url('../fonts/icomoon.svg?ijnzjs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e900";
}

.icon-key:before {
  content: "\e901";
}

.icon-user:before {
  content: "\e902";
}
