@import "variable";

#main {
  min-width: 1200px;
  margin: 0px auto;
  #body {
    .banner {
      height: 320px;
      background-color: red;
      .slider-item {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        img {
          width: auto;
          height: 100%;
          position: absolute;
          left: 50%;
          top: 0px;
          margin-left: -960px;
        }
      }
    }
    .content {
      width: 1200px;
      height: auto;
      margin: 0px auto;
      background-color: #FFFFFF;
    }
    .module-1 {
      .pull-left {
        width: 71.667%;
        .group {
          margin-left: -10px;
          margin-right: -10px;
          .group-head {

          }
          .group-body {
            &:after {
              content: '';
              display: block;
              clear: both;
            }
          }
          .group-foot {

          }
        }
        .item {
          height: 160px;
          margin: 0px;
          padding: 0px 25px;
          border-radius: 4px;
          .item-info {
            float: left;
            height: 86px;
            margin-top: 37px;
            color: @white;
            line-height: 35px;
            .item-title {
              margin: 0px 0px 16px;
              font-size: 32px;
            }
            .item-desc {
              margin: 0px;
              font-size: 24px;
            }
          }
          .item-img {
            float: right;
            margin: 37px 15px 0px 0px;
            font-size: 0px;
            img {
              width: auto;
              height: 86px;
            }
          }
        }
        .col-xs-6 {
          padding: 20px 10px;
          &:nth-child(1) {
            .item {
              background-color: rgb(224, 90, 90);
            }
          }
          &:nth-child(2) {
            .item {
              background-color: rgb(228, 157, 100);
            }
          }
          &:nth-child(3) {
            .item {
              background-color: rgb(63, 150, 255);
            }
          }
          &:nth-child(4) {
            .item {
              background-color: rgb(132, 149, 181);
            }
          }
        }
      }
      .pull-right {
        width: 28.333%;
        padding-left: 40px;
        .group {
          height: 400px;
          margin-top: 20px;
          border: 1px solid @borderColor;
          .group-head {
            padding: 0px 16px;
            .group-title {
              margin: 0px;
              padding: 15px 0px;
              border-bottom: 1px solid @borderColor;
              font-size: 24px;
              line-height: 24px;
            }
          }
          .group-body {
            padding: 15px;
            .form-group {
              position: relative;
              padding: 9px 24px;
              border: 1px solid rgb(220, 220, 220);
              .form-label {
                display: block;
                width: 24px;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                margin: 0px;
                line-height: 40px;
                text-align: center;
                color: #999999;
              }
              .form-input {
                line-height: 20px;
              }
              .btn-search {
                position: absolute;
                top: 0px;
                right: 0px;
                display: block;
                padding: 0px;
                width: 61px;
                height: 100%;
                border: none;
                border-radius: 0px;
                color: @white;
                font-size: 14px;
                text-align: center;
                line-height: 38px;
                background-color: @red;
              }

              #searchList {
                display: none;
                position: absolute;
                left: -1px;
                top: 40px;
                width: 100%;
                //height: 280px;
                background-color: @white;
                border: 1px solid @borderColor;
                border-top: none;
                ul {
                  margin-bottom: 0;
                }
                li {
                  height: 35px;
                  line-height: 35px;
                  padding: 0 10px;
                  border-bottom: 1px dotted @borderColor;
                  a {
                    display: block;
                    color: @fontColor;
                    &:hover {
                      color: @blue;
                    }
                  }
                }
                .pull-left {
                  width: 60%;
                }
                .pull-right {
                  padding-left: 30px;
                  width: 40%;
                }
                .closeBtn {
                  display: block;
                  height: 35px;
                  line-height: 35px;
                  text-align: center;
                  color: @fontColor;
                  &:hover {
                    color: @blue;
                  }
                }
              }
            }
            .list-group {
              .list-title {
                font-size: 14px;
                color: rgb(51, 51, 51);
              }
              .list-item {
                padding: 10px 8px;
                border-bottom: 1px dashed rgb(220, 220, 220);
                .list-label {
                  float: left;
                  margin: 0px;
                  height: 20px;
                  font-size: 12px;
                  line-height: 20px;
                  color: #666666;
                  cursor: pointer;
                }
                .list-value {
                  height: 20px;
                  float: right;
                  line-height: 20px;
                  .list-rate {
                    color: @red;
                  }
                  span {
                    font-size: 10px;
                    color: rgb(204, 204, 204);
                  }
                }
                &:after {
                  content: '';
                  display: block;
                  clear: both;
                }
              }
            }
          }
        }
      }
    }
    .module-2 {
      .pull-left {
        width: 71.667%;
        .group {
          .group-head {
            .group-title {
              margin: 0px;
              padding-left: 20px;
              font-size: 30px;
              line-height: 70px;
            }
          }
          .group-body {
            .col-xs-4 {
              padding: 0px;
              .item {
                height: 340px;
                overflow: hidden;
                text-align: center;
                transition: all 300ms ease;
                border: 1px solid @borderColor;
                .item-group {
                  padding: 0px 15px;
                  line-height: 20px;
                }
                .item-title {
                  font-size: 18px;
                  margin: 20px 0px 5px;
                }
                .item-fund {
                  color: @blue;
                  margin-bottom: 15px;
                }
                .item-rate {
                  color: @red;
                  font-size: 36px;
                  line-height: 40px;
                  margin-bottom: 5px;
                }
                .item-split {
                  margin-bottom: 10px;
                  padding-bottom: 15px;
                  border-bottom: 1px solid rgb(216, 216, 216);
                }
                .item-stars {
                  margin-bottom: 5px;
                  font-size: 14px;
                  text-align: left;
                  color: rgb(102, 102, 102);
                  .item-label {
                    margin: 0px;
                  }
                  .glyphicon-star {
                    color: @red;
                  }
                }
                .item-desc {
                  font-size: 12px;
                  text-align: justify;
                  color: rgb(102, 102, 102);
                }
                .btn-buy {
                  display: block;
                  padding: 0px;
                  margin: 20px 10px 0px;
                  border-radius: 1px;
                  background-color: @blue;
                  color: @white;
                  font-size: 16px;
                  line-height: 45px;
                }
                &:hover {
                  border-color: @red;
                  background-color: rgb(250, 250, 250);
                }
              }
            }
          }
          .group-foot {

          }
        }
      }
      .pull-right {
        width: 28.333%;
        padding-left: 40px;
        .group {
          height: auto;
          margin-top: 18px;
          border: 1px solid @borderColor;
          .group-head {
            padding: 0px 16px;
            .group-title {
              margin: 0px;
              padding: 16px 0px;
              border-bottom: 1px solid @borderColor;
              font-size: 24px;
              line-height: 24px;
            }
          }
          .group-body {
            padding: 10px 15px;
            .list-group {
              margin: 0px;
              .list-item {
                padding: 8px 8px;
                line-height: 18px;
                &.active {
                  color: @red;
                }
                color: @fontColor;
                &:hover {
                  color: @blue;
                }
              }
            }
            .tools {
              .item {
                padding: 0px;
                font-size: 12px;
                text-align: center;
                cursor: pointer;
              }
              .item-img {
                margin-bottom: 10px;
                img {
                  width: 50px;
                  height: 50px;
                }
              }
              .item-desc {
                margin: 0px;
                line-height: 20px;
                padding: 0 5px;
              }
            }
          }
        }
      }
    }
    .module-3 {
      margin-bottom: 125px;
      .group-head {
        position: relative;
        .group-title {
          margin: 0px;
          padding-left: 20px;
          font-size: 30px;
          line-height: 70px;
        }
        .tab-bar {
          position: absolute;
          bottom: 20px;
          right: 0px;
          font-size: 0px;
          text-align: center;
          .tab-item {
            width: 66px;
            height: 26px;
            cursor: pointer;
            display: inline-block;
            background-color: rgb(238, 238, 238);
            font-size: 12px;
            line-height: 26px;
            color: rgb(153, 153, 153);
            &.active {
              color: @white;
              background-color: @blue;
            }
          }
        }
      }
      .group-body {
        .group-filter {
          border: 1px solid @borderColor;
          .filter-row {
            position: relative;
            font-size: 0px;
            border-bottom: 1px dashed @borderColor;
            .filter-label {
              width: 12%;
              display: block;
              margin: 0px;
              float: left;
              padding-left: 30px;
              font-size: 14px;
              line-height: 48px;
              text-align: left;
            }
            .filter-block {
              width: 88%;
              float: left;
              margin: 0px;
              padding: 10px 100px 0px 0px;
            }
            .filter-item {
              height: 28px;
              display: inline-block;
              border-radius: 2px;
              padding: 0px 16px;
              cursor: pointer;
              margin: 0px 15px 10px 0px;
              line-height: 28px;
              font-size: 14px;
              &.active {
                color: @white;
                background-color: @red;
              }
            }
            .filter-star {
              height: 28px;
              display: inline-block;
              border-radius: 2px;
              cursor: pointer;
              margin: 0px 0px 10px 15px;
              line-height: 28px;
              font-size: 24px;
              &.active {
                i:before {
                  content: '\e006';
                  color: @red;
                }
              }
            }
            .filter-factor {
              height: 28px;
              cursor: pointer;
              display: inline-block;
              border-radius: 2px;
              padding: 0px 10px;
              border: 1px solid @red;
              margin: 0px 15px 0px 0px;
              line-height: 26px;
              font-size: 14px;
              color: @red;
              i {
                margin-left: 10px;
                font-size: 18px;
                color: rgb(153, 153, 153);
              }
            }
            .btn.btn-clean {
              position: absolute;
              top: 16px;
              right: 40px;
              width: auto;
              height: 28px;
              padding: 0px 10px;
              border-radius: 2px;
              border: 1px solid @red;
              line-height: 26px;
              color: @red;
            }
            &.last {
              border: none;
              ul {
                display: block !important;
                height: 250px;
                overflow: auto;
                transition: all 300ms ease-out;
                &.hide {
                  height: 50px;
                  overflow: hidden;
                }
              }
              .btn-more {
                position: absolute;
                top: 10px;
                right: 40px;
                cursor: pointer;
                padding: 0px 15px;
                border: 1px solid #333333;
                border-radius: 2px;
                line-height: 26px;
                color: #333333;
              }
            }
            &.result {
              border: none;
              background-color: rgb(250, 250, 250);
              .filter-label {
                line-height: 60px;
              }
              border-top: 1px solid @borderColor;
              .filter-block {
                padding: 16px 100px 16px 0px !important;
              }
            }
          }
        }
        .group-sort {
          padding: 30px 30px;
          .pull-left {
            .sort-label {
              display: inline-block;
              vertical-align: middle;
              margin: 0px 45px 0px 0px;
              color: @red;
              font-size: 16px;
            }
            .sort-items {
              display: inline-block;
              vertical-align: middle;
              .sort-item {
                float: left;
                height: 36px;
                cursor: pointer;
                border-radius: 2px;
                padding: 0px 13px;
                border: 1px solid transparent;
                line-height: 34px;
                font-size: 16px;
                color: #333333;
                font-weight: 500;
                &.active {
                  color: @red;
                  border: 1px solid @red;
                }
              }
            }
          }
          .pull-right {
            border-left: 1px solid @borderColor;
            .pagination {
              padding: 6px 0px 6px 50px;
              font-size: 0px;
              > div {
                display: inline-block;
                margin-left: 20px;
                font-size: 14px;
                line-height: 24px;
              }
              .page-btn {
                cursor: pointer;
                padding: 0px 10px;
                border: 1px solid #333333;
                transition: all 300ms ease;
                &:active {
                  color: @red;
                  border-color: @red;
                }
                &.disable {
                  cursor: not-allowed;
                  border-color: #999999;
                  color: #999999;
                }
              }
              .page-code {
                margin-right: 20px;
                span {
                  color: @red;
                }
              }
            }
          }
        }
        .group-result {
          .col-xs-3,
          .col-xs-9 {
            padding: 0px;
          }
          .table-header {
            line-height: 50px;
            text-align: center;
            .table-th {
              background-color: rgb(241, 241, 241);
            }
          }
          .table-body {
            text-align: center;
            .table-tr {
              cursor: default;
              padding: 15px 0px;
              border-bottom: 1px dashed @borderColor;
              .fund-text {
                margin: 0px;
                font-size: 18px;
                color: @blue;
              }
              .fund-code {
                display: block;
                font-size: 16px;
              }
              .fund-rate {
                font-size: 24px;
                color: @fontColor;

                &.up {
                  color: @red;
                }

                &.down {
                  color: @green;
                }
              }
              &:hover {
                background-color: rgb(246, 248, 250);
              }
            }
          }
        }
      }
      .group-foot {

      }
    }
  }
}